body {
  background: #f1f1f1;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #555;

}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-143479799-1516292744.jpg?crop=1.00xw:0.546xh;0,0.0846xh&re");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #3b3b3b;
  text-shadow: 1px 1px 0px #fff;
}

li h3 {
  padding: 5px;
  font-style: italic;
}

li span {
  margin: 10px;
}

h1 span {
  font-size: 45px;
  color: #ed8fb0;
  text-shadow: 1px 1px 0px #fff;
  ;
}

.search-form {
  margin-bottom: 30px;
}

.search-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  max-width: 80vh;
}

label {
  font-size: 16px;
  margin-right: 10px;
  color: #333333;
}

input[type="text"],
select {
  text-align: left;
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  font-size: 14px;
  color: #555;
  transition: all 0.2s ease-in-out;
  max-width: 80vh;
}

input[type="text"]:focus,
select:focus {
  display: block;
  outline: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-width: 80vh;
}

.new-quote-form {
  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: #363636;
}

input[type="text"] {
  display: block;
  width: 75%;
  margin: 10px;
}

.add-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f8a5c2;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.add-button:hover {
  background-color: #ae4584;
  cursor: pointer;
}

.quote-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: fit-content;
  max-width: 80%;
  background-color: #b6d4fe;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

li:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Estilos para pantallas de 768px o menos */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
    background-size: 100%;
  }

  li span {
    margin: 5px;
  }

  input[type="text"] {
    max-width: 100%;
  }

  li {
    width: 100%;
  }
}

/* Estilos para pantallas de 992px o menos */
@media only screen and (max-width: 992px) {
  .search-filters {
    max-width: 100%;
  }
}

/* Estilos para pantallas de 1200px o menos */
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 50%;
  }

  .search-filters {
    max-width: 100%;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
  }

  input[type="text"] {
    max-width: 100%;
    margin: 5px 0;
  }
}

/* Para pantallas pequeñas y medianas */
@media only screen and (max-width: 767px) {
  .container {
    background-size: contain;
  }
}